# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.json
cmake-build-debug/.cmake/api/v1/query/cache-v2
*.log
cmake-build-debug/.ninja_deps
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
*.txt
*.cmake
*.bin
*.c
*.ninja
cmake-build-debug/.ninja_log
cmake-build-debug/Partition_Allocation_Lab
*.yaml
*.check_cache
.DS_Store
.idea/.name
*.xml
.idea/misc.xml
*.iml
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
.idea/Partition-Allocation-Lab.iml
.idea/modules.xml
.idea/Partition-Allocation-Lab.iml
